*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   font-family: 'Quicksand' , Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkslategray;
}

body::before{
    content:'' ;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(184, 27, 27),yellow);
    clip-path: circle(22% at 30% 20%);
}

body::after{
    content:'' ;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(252, 246, 246),rgb(179, 71, 161));
    clip-path: circle(20% at 70% 90%);
}
.container{
    width: 1400px;
    height: 700px;
    position: relative;
    background: slategray rgba(255,255,255,0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index:10;
    backdrop-filter: blur(15px);
    border-top:1px solid rgba(255,255,255,0.2);
    border-left:1px solid rgba(255,255,255,0.2);
    box-shadow:  inset 4px 4px 5px rgba(255, 255, 255, 0.4),
                inset -4px  -4px 5px rgba(0, 0, 0, 0.2) , 
                      10px 40px 40px rgba(0, 0, 0, 0.4);
}

/* ----------------- page agenda --------------------- */

table{
    color: thistle;
    width: 1300px;
    height: 580px;
    margin: auto;
}
caption{
    padding: 10px;
    font-size: 65px;
}
td{
    width: 80px;
    height: 70px;
    border:1px solid rgba(255,255,255,0.2) ;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}
td:hover{
background-color:rgb(12, 12, 12);
transform: scale(1.4);
color:mediumturquoise ;
}

.liena{
    display: block;
   text-decoration: none;
   color: thistle;
 font-size: 20px;
 text-align: center;
 background-color:rgba(255,255,255,0.2) ;
}
.contenu{
    display: flex;
    flex-direction: column;
}



/* ----------------- page formulaure --------------------- */


.formulaire{
    color: thistle;
    padding: 15px;
    text-align: center;
    width: 700px;
    height: 700px;
    display: grid;
    margin: auto;
    
}
.element{
    display: flex;
    justify-content: space-evenly;
}
legend{
    font-size: 25px;
}
textarea{
    width: 400px;
    border-radius: 6px;
}
.border{
    border-radius: 6px;
}
.adresse{
    width: 240px;
    height: 23px;
}
.bas{
    display: flex;
    justify-content: space-between;
    border:1px solid rgba(255,255,255,0.2) ;
    border-radius: 4px;
    background-color:  rgba(255,255,255,0.2);
    align-items: center;
}

.bas2{
    display: flex;
    justify-content: space-evenly;
    border:1px solid rgba(255,255,255,0.2) ;
    border-radius: 4px;
    background-color:  rgba(255,255,255,0.2);
align-items: center;
}

.bas1{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.lie{
   text-decoration: none;
    background-color:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.2) ;
    border-radius: 5px;
    font-size: 30px;
    width: 300px;
    color:  thistle;
}

.h{
    padding-top: 60px;
}
.butt{
    background-color:  rgba(255,255,255,0.2);
    width: 170px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    color: mediumturquoise;
    font-weight: bolder;
}
.butt:hover{
background-color: mediumturquoise;
color:rgb(12, 12, 12);
}
.lie:hover{
    background-color: mediumturquoise;
    color:rgb(12, 12, 12);
    }
    button{
        border-radius: 100%;
        width: 15px;
        height: 15px;
        border: none;
    }
.color1{
    background-color: whitesmoke; 
}
.color2{
    background-color:blue ;
}
.color3{
    background-color: yellow;
}
.color4{
    background-color: red;
}
